@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


:root {
  --font: 'Lobster', cursive;
  --melon: #fec5bbff;
  --pale-pink: #fcd5ceff;
  --misty-rose: #fae1ddff;
  --isabelline: #f8edebff;
  --platinum: #e8e8e4ff;
  --alabaster: #d8e2dcff;
  --linen: #ece4dbff;
  --champagne-pink: #ffe5d9ff;
  --peach-puff: #ffd7baff;
  --peach-crayola: #fec89aff;
  --dark-green: #1A231E;
  --ash-green: #C4D4CA;
}

body {
  background-color: var(--misty-rose);
  color: var(--dark-green);
  font-family: var(--font);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  background-color: var(--ash-green);
  width: 100%;
}


.App-link {
  color: var(--dark-green);
  text-decoration: none;
  font-size: 35px;
}

.App-link:hover {
  color: var(--platinum);
}

